export CLOUDFLARE_ACCOUNT_ID=
export CLOUDFLARE_API_TOKEN=

export TF_VAR_account_id=$CLOUDFLARE_ACCOUNT_ID

# R2 S3-compatible API for the Terraform state backend.
export AWS_ENDPOINT_URL_S3=https://$CLOUDFLARE_ACCOUNT_ID.r2.cloudflarestorage.com
export AWS_ACCESS_KEY_ID=
export AWS_SECRET_ACCESS_KEY=
